* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 27, 27);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px clamp(5px, 5dvw, 100px);
  background-color: rgb(221, 221, 221);
}

x3d {
  height: 400px;
}

.container {
  text-align: center;
  width: clamp(100px, 70dvw, 400px);
  position: relative;
  margin: 0 auto;
}

.container {
  display: none;
}

.container.active {
  display: block;
}

.spin-control {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.page {
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: 30px;
  padding: 15px;
  border: none;
  --radius: 20px;
  cursor: pointer;
}

h1 {
  color: white;
  margin: 20px;
  font-size: clamp(1rem, 5dvw, 2.5rem);
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.page#prev {
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.page#next {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.spin {
  animation: spin 8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}
